---
Language:        Cpp
# BasedOnStyle:  LLVM
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth:     4
ObjCBlockIndentWidth: 4
TabWidth:        8
UseCRLF:         false
UseTab:          Never
...

